.formularioRegistro{
    padding-left: 30%;
    padding-right: 20%;
    margin-top: 10%;
}

.form-button{
    margin: 10px;
}

.scrollable-container {
  height: 500px; /* O la altura que necesites */
  overflow-y: scroll; /* Muestra la barra solo cuando es necesario */
  /* o overflow-y: scroll; para siempre mostrarla */
}