<div class="formularioRegistro">
    <h2>Crear producto</h2>
    <form [formGroup]="productoForm" (ngSubmit)="guardar()">
        <div class=" form-group">
            <label>Sku</label>
            <input type="text" formControlName="sku" class="form-control">
        </div>
        <div class=" form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>
        <div class=" form-group">
            <label>Precio</label>
            <input type="number" formControlName="precio" class="form-control" step="0.01" min="0">
        </div>
        <div class="form-group">
            <label>Cantidad</label>
            <input type="number" formControlName="cantidad" class="form-control">
        </div>
        <div class="form-button">
            <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Guardar</button>
            
        </div>
        @if (banderaError == true) {
        <h3>{{ errorMessage }}</h3>
        }

    </form>
    <div class="scrollable-container">
        @if (productos.length > 0) {
        <h3>Producto en stock</h3>
        <table class="table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                @for (p of productos; track p.id) {
                <tr (click)="seleccionar(p)" style="cursor: pointer">
                    <td>{{ p.id }}</td>
                    <td>{{ p.sku }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td><button type="button" class="btn btn-danger" (click)="eliminar(p)">Borrar</button></td>
                </tr>
                
                }
            </tbody>
            <button type="submit" class="btn btn-warning" (click)="actualizar()">Actualizar</button>
        </table>
        } @else {
        <p>No hay productos</p>
        }
    </div>

</div>


<router-outlet />